{% extends "movies/layout.html" %}

{% block content %}
<hr>
{% for movie in movies %}
{% if forloop.first %}<div class="row">{% endif %}
    <div class="col s4">
        <div class="card">
            <a href="/movies/ticket">
            <div class="card-image">
                {% if movie.image %}
                    <img class="responsive-img" src="{{movie.image.url}}" alt="No Image Available">
                {% endif %}
            </div>
            </a>
            <div class="card-content">
                <p><b>Movie : </b>{{movie.name}}</p>
                <p><b>Time : </b>{{movie.showing_at}}</p>
            </div>
        </div>
    </div>

    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}<hr></div>{% endif %}
{% endfor %}
{% endblock %}