{% include "movies/layout.html" %}

{% block content %}
<div class="container">
    <img class="img-fluid" src="{{movies.image.url}}" alt="{{movies.name}}">
</div>
<div class="container">
    {% for text in texts %}
        <h5 class="display-5">{{ text.name }} {{ text.date_posted }}</h5>
        <p class="lead">{{ text.comment }}</p>
    {% endfor %}
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <form  method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
                <button class="btn btn-primary" type="submit">submit</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock %}